* {
    margin: 0;
    padding: 0;
}

html, body {
	background-color: RGB(50, 60, 70);
	margin: 10;
}

div {
	margin: 25;
	text-align: center;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
	color: RGB(255, 255, 255);
    text-shadow: 0 0 5px RGBA(254,254,255,0.85);
}

a, p {
	font-weight: 400;
	color: RGB(255, 255, 255);
	text-align: center;
}
